$color-1: white;
$color-2: black;
$color-3: silver;
$color-4: #aa2224;

.wrapper {
  font-family: Sumana, sans-serif;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

nav {
  background: $color-2;
  position: fixed;
  width: 100%;
  font-size: 1.5em;
  height: 10vh;
  justify-content: flex-end;

  .nav-buttons {
    padding: 0 20px;
  }

  .btn {
    display: inline-block;
    font-size: 2.5vh;
    padding: 1vh 3vh;
    background: none;
    position: relative;
    transition:color 0.25s ease;
    border:2px solid $color-1;
    color: $color-1;
  }
  .btn::after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $color-1;
    transition:width 0.25s ease;
    z-index:-1;
  }
  .btn:hover::after {
    width: 100%;
  }
  .btn:focus, .btn-success:focus{
      color: $color-3;
    }

  a {
    color: white;
    padding: 0 20px;
  }
  a:hover {
    color: $color-3;
    text-decoration: none;
  }
}

header {
  height: 100vh;
  width: 100vw;
  background: url("../img/piano-1.jpg") no-repeat center center;
  color: $color-1;

  h1 {
    font-size: 6em;
    margin: 0 auto;

    span {
      color: $color-4;
    }
  }

  #logo {
    margin: 0 5vw;
    text-transform: uppercase;

    h3, h1 {
      text-align: left;
    }

    h3 {
      word-spacing: 0.5em;
    }
  }
}

footer {
  height: 20vh;
  width: 100vw;
  a {
    color: $color-2;
    cursor: pointer;
  }
  a:hover {
    color: $color-3;
    text-decoration: none;
  }
}


#about {
  height: 40vh;
  width: 100vw;
  color: $color-2;
}

@media only screen and (max-width: 992px) {
  header {
    h1 {
      font-size: 4.5em;
    }
    h3 {
      font-size: 1.25em;
    }
  }
}

@media only screen and (max-width: 480px) {
  header {
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1em;
    }
  }
}

// @media only screen and (max-height: 1000px) {
//   #nav {
//     #nav-bar-name {
//        font-size: 6vh;
//      }
//     .nav-buttons {
//       margin: auto 0vw auto 38vw;
//     }
//   }
// }
//
// @media only screen and (max-width: 992px) {
//   #nav {
//     #nav-bar-name {
//       font-size: 3.8vh;
//     }
//
//     .nav-buttons {
//       margin: auto 0vw auto 20vw;
//     }
//   }
// }
//
// @media only screen and (max-width: 675px) {
//   #nav {
//     #nav-bar-name {
//       font-size: 3.8vh;
//     }
//
//     .nav-buttons {
//       font-size: 1.8vh;
//       margin: auto 0vw auto 20vw;
//     }
//
//     .btn {
//       font-size: 1.8vh;
//     }
//   }
// }
//
// @media only screen and (max-width: 480px) {
//   #nav {
//     .nav-buttons {
//     margin: auto auto;
//     }
//   }
// }
